server0 abdelrahman@localhost 50100
server1 abdelrahman@localhost 50201
server2 abdelrahman@localhost 50302
server3 abdelrahman@localhost 50403
server4 abdelrahman@localhost 50504
server5 abdelrahman@localhost 50605
server6 abdelrahman@localhost 50706
server7 abdelrahman@localhost 50807
server8 abdelrahman@localhost 50908
server9 abdelrahman@localhost 50109