server0 abdelrahman@localhost 50000
server1 abdelrahman@localhost 50001
server2 abdelrahman@localhost 50002
server3 abdelrahman@localhost 50003
server4 abdelrahman@localhost 50004
server5 abdelrahman@localhost 50005
server6 abdelrahman@localhost 50006
server7 abdelrahman@localhost 50007
server8 abdelrahman@localhost 50008
server9 abdelrahman@localhost 50009